[Desktop Entry]
Encoding=UTF-8
GenericName=TrainControl
Name=TrainControl
Name[en_CA]=TrainControl
Name[en_GB]=TrainControl
Comment=Control DCC trains and layout
Comment[en_CA]=Control DCC trains and layout
Comment[en_GB]=Control DCC trains and layout
Exec=trainCtrl
Icon=trainCtrl
Terminal=false
Type=Application
Categories=Utility;TextEditor;
